/*--------------------------------------------------------------------------
  -              Medium devices (landscape tablets, 768px and up)          -
  -------------------------------------------------------------------------- */

  @media only screen and (min-width: 768px) {
    .container {
        grid-template-areas:
            'nav main';
        padding: 0;
        grid-template-columns: 3fr 9fr;
    }
    /* -------------------------------- NAV -------------------------------- */
    nav {
      position: fixed;
      top:0;
      bottom:0;
      left:0;
      right: 75%;
        display: grid;
        grid-template-areas:
            'navSec notes';
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
    }
    /* -------------------------- NAVSEC --------------------------- */
    #navSec {
        display: grid;
        grid-template-areas:
            'topNav'
            'menu';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
        max-height:100%;
    }

    /* --------------------- TOPNAV ------------------ */
    #topNav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #logo {
        height: 2.5em;
        width: 2.5em;
        padding: 0;
        margin: 0;
    }
    #hamburgerIcon {
        display: none;
    }
    /* ---------------------- MENU -------------------- */
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 25em;/* 5x5 so that every icon is 5em */

    }


    /* ---------------------------- NOTES --------------------------- */
    #notes {
        display: grid;
        grid-template-areas:
            'searchField'
            'noteList';
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 11fr;
            max-height:100%;
    }

     /* ------------------ SEARCH FIELD -------------------- */

    #searchField {
        display: block;
    }

    /* -------------------- NOTE LIST ---------------------- */
    #noteList {
        grid-area: noteList;
        background-color: #ebebeb;
        min-height: 5em;
        max-height: 100%;
        display: block;
    }
    .custom-dropdown {
        background-color: #115493;
        position: absolute;
        top: 436px;
        z-index: 1;
        width: 18.9%;
        height: 5%;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 18%;
        border-radius: initial;
        border: none;
        color: #fff;
        font-size: inherit;
        outline: 0;
      }

      /* star icon  */

  #noteList .fa-star{
    float: right;
    margin-right: 5%;
    margin-top: 15%;
    font-size: 18px;
    opacity: 0.2;
  }

  #noteList .fa-star:hover{
      opacity: 1;
  }

 #favIcon {
     padding-right: 7px;
 }
    /* ------------- CLICK NOTE LIST ------------- */
    #clickNoteList div{
        height: 78px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    #clickNoteList div h4, #clickNoteList div p {
        padding-left: 10px;
        color: black;
        padding-top:10px;
    }
    #clickNoteList div h4{
        margin:0;
    }
    #clickNoteList div p{
        margin:0;
        font-size: 14px;
        margin-top: 22px;
    }
    #clickNoteList div:hover {
      background: #f2f2f2;
    }
    /* -------------------------------- TUTORIAL --------------------------- */
    /* ---------------------- TUTORIAL CONTENT -------------- */
    #tutorial-content {
        width: 50%;
    }

    /* -------------------------------- popUP --------------------------- */
  #themeContent{
    background-color: white;
    width: 770px;
    height: 290px;
    margin:0;
    padding:0;
  }
    .theme2-display-flex{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
    #popUp div {
        background-color: white;
        width: 770px;
        height: 290px;
        margin: auto;
        margin-top: 20%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
    }

    /* ---------------------- THEME CONTENT -------------- */
    #themeChoice {
        display: flex;
        flex-direction: row;
        padding-bottom: 5%;
        margin-top: 5%;
    }

      #themeChoice div{

      }

      #themeChoice img {
        width: 180px;
        height: 180px;
        opacity: 0.8;
        border-radius: 50%;
      }
      #themeChoice img:hover{
          opacity: 1;
      }

    /* -------------------------------- MAIN -------------------------------- */
    /* ---------------------- QUILL EDITOR ------------------ */
    /* ---------------- EDITOR CONTAINER ------------ */
    #editorContainer {
        position: relative;
        display: grid;
        grid-template-areas:
        'ql-toolbar'
        'editor';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
        position: absolute;
        right:0;
        left:25%;
        bottom:0;
    }
    /* ---------- TOOLBAR ------------- */
    .ql-toolbar{
        display: flex;
        align-items: center;
        position: fixed;
        right:0;
        left:25%;
        z-index: 2;
        background: #fff;
    }
    .ql-editor{
      overflow-y:auto;
      position:fixed;
      height:93vh;
      right:0;
      bottom:0;
      left:25%;
      top: 42px;
      margin-top: 1em;
    }
    .collapse-mobile{
      display: block;
    }
}
/*--------------------------------------------------------------------------
  -              Large devices (laptops/desktops, 992px and up)            -
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {

}
/*--------------------------------------------------------------------------
  -    Extra large devices (large laptops and desktops, 1200px and up)     -
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {

}
