/*--------------------------------------------------------------------------
  -              Medium devices (landscape tablets, 768px and up)          -
  -------------------------------------------------------------------------- */

  @media only screen and (min-width: 764px) {
    * {
        font-size: 1.0vw;
    }

    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }

    /* -------------------------------- GRID -------------------------------- */
    #nav { grid-area: nav; }
    #main { grid-area: main; }
    #navSec { grid-area: navSec; }
    #topNav { grid-area: topNav; }
    #menu { grid-area: menu; }
    #notes { grid-area: notes; }
    #searchField { grid-area: searchField; }
    #noteList { grid-area: noteList; }
    #editor { grid-area: editor; }
    .ql-toolbar { grid-area: ql-toolbar; }

    .container {
        display: grid;
        grid-template-areas:
            'nav main';  /* Main = Editor container but has to be specified as main to work */
        padding: 0;
        grid-template-columns: 2fr 10fr;
        overflow: hidden;
    }

    #nav {
          display: grid;
          grid-template-areas:
              'navSec notes';
          grid-template-columns: 2fr 10fr;
          grid-template-rows: 100vh;
          z-index: 0;
    }

    #editorContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
         grid-template-areas:
            'ql-toolbar'
            'editor';
    }

    #navSec {
        display: grid;
        grid-template-areas:
            'topNav'
            'menu';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
        max-height:100%;
    }

    #notes {
        display: grid;
        grid-template-areas:
            'searchField'
            'noteList';
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 11fr;
            max-height:100%;
    }

    /* -------------------------------- POP UPS -------------------------------- */

    .popUpContent {
        padding: 2em;
    }

    @keyframes animatetop {
        0% {
            top: -15em;
            opacity: 0;
        }
        100% {
            top: 15em;
            opacity: 1;
        }
    }

    .popUpContent button{
        margin: 0.3em;
    }

    .popUpContent h2 {
        margin: 0;
        font-size: 2em;
    }

    .exit {
        margin: 0.2em 0.5em;
    }

    #tutorial-content {
        width: 50%;
    }

    #chooseTheme.popUpContainer {
        top: 15em;
        animation-name: animatetop;
        animation-duration: 0.6s;
    }

    #themeChoice {
        padding: 1em;
    }

    #themeChoice div {
        margin: 1em auto auto;
    }

    #themeChoice img {
        transition: 0.3s;
    }

    #themeChoice img:hover {
        box-shadow: 0 10px 50px rgb(144, 150, 165)
    }

    /* -------------------------------- NAV -------------------------------- */
    /* -------------------------- NAVSEC --------------------------- */
    /* --------------------- TOPNAV ------------------ */

    #topNav {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: auto;
    }

    #logo {
        width: 2.5em;
        margin: 0;
    }

    #hamburgerIcon {
        display: none;
    }

    /* ---------------------- MENU -------------------- */

    #menuContainer {
        display: block;
    }

    #menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: auto;
    }

    .icon{
        font-size: 1.5em;
    }

    /* ---------------------------- NOTES --------------------------- */
    /* ------------------ SEARCH FIELD -------------------- */

    #searchField {
        background-color: #213d57;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 1.5em;
    }

    #searchIcon{
        color: white;
        float: right;
        padding: 0.3em 0;
        margin-right: 0.5em;
        display: block;
        font-size: 1.4em;
    }

    form {
        padding-right: 0%;
        display: block;
    }

    input {
        outline: none;
    }

    #searchInput {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
    }

    input::-webkit-search-decoration, input::-webkit-search-cancel-button {
        display: none;
    }

    #searchInput {
        width: 30%;
        margin: 0;
        margin-left: 5%;
        border-radius: 10em;
        padding-left: 1em;
        padding: 0.5em;
    }

    #searchInput:focus {
        width: 60%;
        background-color: #fff;
        border-color: #66CC75;
    }

    /* -------------------- NOTE LIST ---------------------- */

    #noteList {
        min-height: 5em;
        max-height: 100%;
    }

    /* ------------- CLICK NOTE LIST ------------- */

    #clickNoteList article{
        height: 4em;
    }

    #clickNoteList article h4, #clickNoteList article p {
        padding-left: 0.7em;
        margin: 0;
    }

    #clickNoteList article h4{
        padding-top: 0.5em;
    }

    #clickNoteList article p{
        margin:0;
        padding-top: 1.5em;
    }

    /* -------------------------------- MAIN -------------------------------- */
    /* ------------------  EDITOR CONTAINER (QUILL EDITOR) -------- */
    /* --------------------- TOOLBAR ----------------------- */

    .ql-toolbar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2;
        background: #fff;
    }

    .ql-toolbar.ql-snow .ql-formats { /* Container for toolbar content */
        margin-right: 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        width: 100%;
    }

    /* ----------- TOOLBAR CONTENT  -------------- */
    
    /* All content types */
    #saveIcon, #editorContainer > div > span > span, #editorContainer > div > span > select, #editorContainer > div > span > button {
        height: 2.5vw !important;
        margin-right: 1vw;
    }

    #editorContainer > div > span > span:first-child { /* Drop down Header container*/
        width: 10vw !important;
        margin-left: 1vw;
    }

    .ql-toolbar.ql-snow .ql-picker-label { /* Drop down Header lable */
        font-size: 1.5vw !important;
    }

    #editorContainer > div > span > span:first-child > span:last-child > span{ /* Alternative in drop down header */
        font-size: 0.8vw !important;
        height: 2.5vw !important;
    }

    #editorContainer > div > span > span:nth-child(6) { /* Text align */
        width: 2.5vw !important;
        height: 2.5vw !important;
    }

    #saveIcon i{
        font-size: 1.5vw !important;
    }

     /* --------------------- EDITOR ----------------------- */

    .ql-editor{
        overflow-y:auto;
        position: absolute;
        left:15%;
        margin-top: 1em;
        width:70%;
        border-right: 1px solid rgba(55,55,55,0.5);
        border-left: 1px solid rgba(55,55,55,0.5);
      }
}
/*--------------------------------------------------------------------------
  -    Extra large devices (large laptops and desktops, 1200px and up)     -
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 3000px) {

    #searchIcon{
        padding-top: 0;
    }
    
    #searchInput:focus {
        width: 65%;
    }
}
