/*--------------------------------------------------------------------------
  -              Medium devices (landscape tablets, 768px and up)          -
  -------------------------------------------------------------------------- */

  @media only screen and (min-width: 764px) {
    .container {
        grid-template-areas:
            'nav main';
        padding: 0;
        grid-template-columns: 3fr 9fr;
    }
    .popUpContent {
        padding: 2em;
    }
    #chooseTheme.popUpContainer {
        top: 30vh;
    }
    /* -------------------------------- NAV -------------------------------- */
    nav {
      position: fixed;
      top:0;
      bottom:0;
      left:0;
      right:75%;
        display: grid;
        grid-template-areas:
            'navSec notes';
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        z-index: 0;
    }
    /* -------------------------- NAVSEC --------------------------- */
    #navSec {
        display: grid;
        grid-template-areas:
            'topNav'
            'menu';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
        max-height:100%;
    }

    /* --------------------- TOPNAV ------------------ */
    #topNav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #logo {
        height: 2.5em;
        width: 2.5em;
        padding: 0;
        margin: 0;
    }
    #hamburgerIcon {
        display: none;
    }
    /* ---------------------- MENU -------------------- */
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 25em;/* 5x5 so that every icon is 5em */

    }

    /* ---------------------------- NOTES --------------------------- */
    #notes {
        display: grid;
        grid-template-areas:
            'searchField'
            'noteList';
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 11fr;
            max-height:100%;
    }

     /* ------------------ SEARCH FIELD -------------------- */

     #searchField {
        grid-area: searchField;
        background-color: #213d57;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    #searchIcon{
        color: white;
        font-size: 20px;
        float: right;
        margin-top: 4%;
        margin-right: 4%;
        display: block;
    }
    form {
        width: 100%;
        padding-right: 0%;
        display: block;
    }

    input {
        outline: none;
    }
    #searchInput {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }

    #searchInput {
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 20%;

        margin:0;
        margin-left: 5%;

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

    }
    #searchInput:focus {
        width: 60%;
        background-color: #fff;
        border-color: #66CC75;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }


    input:-moz-placeholder {
        color: #999;
        text-align: center;
    }
    input::-webkit-input-placeholder {
        color: #999;
        text-align: center;
    }


    /* -------------------- NOTE LIST ---------------------- */
    #noteList {
        grid-area: noteList;
        background-color: #ebebeb;
        min-height: 5em;
        max-height: 100%;
        display: block;
    }
    .custom-dropdown {
        background-color: #115493;
        position: absolute;
        top: 436px;
        z-index: 1;
        width: 18.9%;
        height: 5%;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 18%;
        border-radius: initial;
        border: none;
        color: #fff;
        font-size: inherit;
        outline: 0;
      }

      /* star icon  */

  #noteList .fa-star{
    float: right;
    margin-right: 5%;
    margin-top: 15%;
    font-size: 18px;
    opacity: 0.2;
  }

  #noteList .fa-star:hover{
      opacity: 1;
  }

 #favIcon {
     padding-right: 7px;
 }
    /* ------------- CLICK NOTE LIST ------------- */
    #clickNoteList div{
        height: 78px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    #clickNoteList div h4, #clickNoteList div p {
        padding-left: 10px;
        color: black;
        padding-top:10px;
    }
    #clickNoteList div h4{
        margin:0;
    }
    #clickNoteList div p{
        margin:0;
        font-size: 14px;
        margin-top: 22px;
    }
    /* #clickNoteList div:hover {
      background: #fff;
    } */
    /* -------------------------------- TUTORIAL --------------------------- */
    /* ---------------------- TUTORIAL CONTENT -------------- */
    #tutorial-content {
        width: 50%;
    }

    /* -------------------------------- MAIN -------------------------------- */
    /* ---------------------- QUILL EDITOR ------------------ */
    /* ---------------- EDITOR CONTAINER ------------ */
    #editorContainer {
        position: relative;
        display: grid;
        grid-template-areas:
        'ql-toolbar'
        'editor';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
        position: absolute;
        right:0;
        left:25%;
        bottom:0;
    }
    /* ---------- TOOLBAR ------------- */
    .ql-toolbar{
        display: flex;
        align-items: center;
        position: fixed;
        right:0;
        left:25%;
        z-index: 2;
        background: #fff;
    }
    .ql-editor{
      overflow-y:auto;
      position:fixed;
      height:93vh;
      right:0;
      bottom:0;
      left:25%;
      top: 42px;
      margin-top: 1em;
    }
    .ql-toolbar.ql-snow .ql-formats { /* Container for toolbar content */
        margin-right: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }
    .collapse-mobile{
        display: block;
    }
    /*-----------------------------------------
      -             TOLBAR CONTENT            -
      ----------------------------------------- */

    #saveIcon, #editorContainer > div > span > span, #editorContainer > div > span > select, #editorContainer > div > span > button {
        height: 3.5vw !important;
    }
    #editorContainer > div > span > span:first-child { /* Drop down Header container*/
        width: 15vw !important;
    }
    .ql-toolbar.ql-snow .ql-picker-label { /* Drop down Header lable */
        font-size: 2vw !important;
    }
    #editorContainer > div > span > span:first-child > span:last-child > span{ /* Alternative in drop down header */
        font-size: 1.2vw !important;
        height: 3.3vw !important;
    }
    #editorContainer > div > span > span:nth-child(6) { /* Text align */
        width: 3.5vw !important;
        height: 3.5vw !important;
    }
    #saveIcon i{
        font-size: 2.5vw !important;
    }
    /* #editorContainer > div > span > span:nth-child(6) {
        font-size: 1.7em !important;
        width: 2em !important;
    }
    #editorContainer > div > span > span:first-child {
        width: 6em !important;
    }

    #editorContainer > div > span > span:first-child > span:last-child > span{
        font-size: 0.5em !important;
    }

    #saveIcon, #editorContainer > div > span > span, #editorContainer > div > span > select, #editorContainer > div > span > button {
        font-size: 2em !important;
        height: 2em !important;
        width: auto !important;
        padding: 0.5em 0.25em !important;
        color: #444;
    } */
}
/*--------------------------------------------------------------------------
  -              Large devices (laptops/desktops, 992px and up)            -
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {

}
/*--------------------------------------------------------------------------
  -    Extra large devices (large laptops and desktops, 1200px and up)     -
  -------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {

}
