
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
        display: grid;
        grid-template-areas:
            'menu noteList';
            grid-template-columns: 1fr 7fr;
            grid-template-rows: auto;
            
    }
    
    #mobileMenu, #toolBarMobile,#hamburgerIcon,#folder {
        display: none;
    }
    #menu, #noteList { 
        
    }
    #logo img {
        height: 2.5em;
        width: 2.5em;
        padding: 0;
        margin: 0;
    }
    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ql-toolbar {
        display: flex;
        align-items: center;
    }
    .container {
        grid-template-areas:
            'nav main';
        padding: 0;
        grid-template-columns: 3fr 9fr;
    }
    #editorContainer {
        display: grid;
        grid-template-areas:
        'ql-toolbar'
        'editor';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 11fr;
    }
    .iconimages {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 6em;
        width: 3.5em;
        }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #icon img {
        height: 2.5em;
        width: 2.5em;
        padding: 0;
        margin: 0;
    }
    #icon button {
        display: none;
    }
    #icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ql-toolbar {
        display: flex;
        align-items: center;
    }
    

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}