@media print{
  nav, .conainer, .collapse-mobile, .ql-toolbar, #popUp, #navSec,
  #topNav, #menu, #noteList, #notes, #searchField{
    display: none !important;
  }
  #editorContainer{
    display:block;
    margin:0;
    padding:0;
  }
  #editor{
    display:block;
    border:1px solid black;
  }
 /* Ql-editor size of a a4; */
  .ql-editor{
    height: 100%;
    width:100%;
    display:block;
    border: 1px solid black;
  }
}
