/* bugg fix for layout.css, that cannot be inserted there */
  @media only screen and (min-width: 764px){
    .ql-editor{
      height:93%;
    }
  }
@media print{
  nav, .collapse-mobile, .ql-toolbar, #popUp, #navSec,
  #topNav, #menu, #noteList, #notes, #searchField{
    display: none !important;
  }
  #editorContainer{
    display:block;
    margin:0;
    padding:0;
    height: auto;
    width:595px;
  }
  #editor{
    display:block;
    border:none;
    height: auto;
  }
 /* Ql-editor size of a a4; */
  .ql-editor{
    padding:0;
    margin:0;
    min-height: 100%;
    width:595px;
    display:block;
    border:none;
    overflow:none;
  }
}
