nav  {
    background-image:url("https://images.unsplash.com/photo-1534262521332-cfd802370cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80");
    background-size:cover;
}
#topNav, #searchField  {
    background-image:url("https://images.unsplash.com/photo-1534262521332-cfd802370cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80");
    border-bottom: 1px solid white;
}
.menuIcon:hover, #clickNoteList article:hover{
    background: rgba(94, 101, 143, 1);
}
#noteList, .ql-toolbar.ql-snow {
    background: rgba(255, 255, 255, 0);
}

#editorContainer, #navSec, body {
    background-image:url("https://images.unsplash.com/photo-1534262521332-cfd802370cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80");
    background-size:cover;
}
.ql-container *{
    font-family: 'Orbitron', sans-serif;
    color:White;
    font-size: 1.2em;
}
.ql-container H1{
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 4em !important;
}
.ql-container H2{
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 2em !important;
}
.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    border-top: 0;
}
.current-style {
    background: rgba(0, 102, 204, 0.451);
    outline: 2px solid #115493;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #ccc;
    color: white;
    background: black;
}
.ql-toolbar .ql-snow .ql-formats button svg {
    color: white !important;
}
#clickNoteList article h4, #clickNoteList article p {
    padding-left: 0.7em;
    color: white;
    margin: 0;
}
.ql-snow .ql-stroke {
    fill: none;
    stroke: #f8f8f2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}
#saveIcon, #editorContainer > div > span > span, #editorContainer > div > span > select, #editorContainer > div > span > button {
    height: 8vw !important;
    width: auto !important;
    padding: 0.5em 0.25em !important;
    color: white;
}
#noteList .fa-star {
    color: white;
    opacity: 0.4;
}

.deleteIcon {
    color: white;
    opacity: 0.4;
}

@media only screen and (min-width: 764px) {
    #editorContainer > div > span > span:first-child {
        width: 10vw !important;
        margin-left: 1vw;
        color: white;
    }
    #saveIcon, #editorContainer > div > span > span, #editorContainer > div > span > select, #editorContainer > div > span > button {
        height: 2.5vw !important;
        margin-right: 1vw;
        color: white;
    }
    #noteList {
        border-bottom: 0;
        border-left: 1px solid white;
    }
    #noteList .fa-star {
        color:white;
        opacity: 0.4;
    }
}