* {
    box-sizing: border-box;

}
body {
    margin:0;

}
div {
    border-style: none;
}
body, html{
  margin:0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;

     grid-template-areas:
        'nav'
        'main';
        padding: 0;
}
nav {
    grid-area: nav;
}
#mobileMenu {
    grid-area: mobileMenu;
}
#menu {
    grid-area: menu;
    border-right:;
    background-color:#105493;
}

#noteList {
    grid-area: noteList;
    background-color: #ebebeb;
}

#editorContainer { grid-area: editorContainer;}
.ql-toolbar { grid-area: ql-toolbar;}
#editor { grid-area: editor;}


.flex {
    display: flex;
    justify-content: space-between;
}
#navOverview {
    background-color: rgb(79, 79, 233);
}
#editorContainer {
    height: 100vh;
}
#noteTitle {
    font-weight: bold;
}

#icon {
 position:;
 background-color:#1c354c;
 height: 4em;
 width: 100%;
}

.iconimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
}
.icons{
  margin: 10px 0;
  max-height: 25px;
  max-width: 20px;
}
.iconimages img {
    background-color: #105493;
}
#icon img {
    height: 2.5em;
    width: 70%;
    padding: 0;
    margin: 0;
}
#icon button {
    display: none;
}
#icon {
    display: flex;
    align-items: center;
    justify-content: center;
}