* {
    box-sizing: border-box;
}
body, html{
    margin:0;
}
.container {
    display: grid;
    grid-template-columns: 1fr;

     grid-template-areas:
        'nav'
        'main';
    padding: 0;
}
.none {
    display: none;
}
.flex {
    display: flex;
}
/*---------------------------------------------------------------------------
  -                      NAV                                                -
  --------------------------------------------------------------------------- */

/*------------------------------------------------------------
  -                      NAVSEC                              -
  ------------------------------------------------------------ */
#navSec {
    grid-area: navSec;
    background-color:#105493;
}
/*-------------------------------------------------
  -                      TOPNAV                   -
  ------------------------------------------------- */
#topNav {
    grid-area: topNav;
    background-color:#213d57;
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo {
    height: 2.5em;
    width: auto;
    padding: 0;
    margin-left: 1.5em;
}
#hamburgerIcon{
    display: block;
    color: white;
    position: absolute;
    right: 0.7em;
    font-size: 42px;
}

/*-------------------------------------------------
  -                      MENU                     -
  ------------------------------------------------- */
#menu {
    grid-area: menu;
    flex-direction: row;
    align-items: center;
    height: 5em;
    justify-content: space-evenly;
}
.menuIcon{
    background-color: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuIcon:hover{
    background-color: #213d57;
}
.icon{
    margin: 1em auto;
    max-height: 25px;
    max-width: 20px;
    display: block;
    font-size: 25px;
    color: white;
}

/*---------------------------------------
  -            LOADING ICON             -
  --------------------------------------- */ 
/*- William*/
#load-wrapp {
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0 6px;
    border-radius: 5px;
    text-align: center;
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.load-8 .line {
    animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}
@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}
/*------------------------------------------------------------
  -                      NOTES                               -
  ------------------------------------------------------------ */
#notes {
    grid-area: notes;
}
/*-------------------------------------------------
  -                   NOTE LIST                   -
  ------------------------------------------------- */
#searchField {
    grid-area: searchField;
    background-color:#213d57;
    display: none;
}
/*-------------------------------------------------
  -                   NOTE LIST                   -
  ------------------------------------------------- */
#noteList {
    grid-area: noteList;
    background-color: #ebebeb;
    min-height: 3em;
    max-height: 10em;
    overflow-y: scroll;
    border-bottom: 1px solid darkgrey;
}
/*---------------------------------------
  -            CLICK NOTE LIST          -
  --------------------------------------- */ 
#clickNoteList { /* Div containing all note divs in note list - click lo show text in edito */
    display: block;
    width: auto;
    height: auto;
}
#clickNoteList *:hover { /* When hovering over any notelist obj */
    background: #f2f2f2;
    cursor: pointer;
}
#clickNoteList div{ /* Divs created for each note in notelist */
    height: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#clickNoteList div h4, #clickNoteList div p { /* All text in div for notes in notelist */
    padding-left: 10px;
    color: black;
    margin: 0.3em 0 0 0;
}
#clickNoteList div h4{ /* Heading (title) for notes in notelist */
    font-size: 1em;
}
#clickNoteList div p{ /* Text (time & date) in div for notes in notelist */
    font-size: 0.8em;
    color: #777;
}

/*---------------------------------------------------------------------------
  -                      MAIN                                               -
  --------------------------------------------------------------------------- */
/*------------------------------------------------------------
  -                      EDITOR CONTAINER                    -
  ------------------------------------------------------------ */
  #editorContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;

     grid-template-areas:
        'ql-toolbar'
        'editor';
    padding: 0;
    height: 100vh;   
}
/*-------------------------------------------------
  -                      EDITOR                   -
  ------------------------------------------------- */
#editor {
    grid-area: editor;
    overflow-y: scroll;
}
.ql-toolbar { grid-area: ql-toolbar;}

.ql-container {
    max-height: 100%;
}

/* Styling popup when to warn non saved content  */

#popUp{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    /* visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
     */
  }
  
  #popUp:target{
    visibility: visible;
    opacity: 1;
  }
  
  #popUp div {
    background-color: white;
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
  }
  
  #popUp button{
    height: 30px;
    margin-bottom: 20px;
    width: 2cm;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    background: #ebebeb;
  }
  
