* {
    box-sizing: border-box;
}
body, html{
    margin:0;
}
.container {
    display: grid;
    grid-template-columns: 1fr;

     grid-template-areas:
        'nav'
        'main';
    padding: 0;
}
/*------------------------------------------------------------
  -                      NAV                                 -
  ------------------------------------------------------------ */
nav {
    grid-area: nav;
}
/* #mobileMenu {
    grid-area: mobileMenu;
} */
#nav {
    grid-area: nav;
    background-color:#105493;
}
/*-------------------------------------------------
  -                      TOPNAV                   -
  ------------------------------------------------- */
#topNav {
    background-color:#213d57;
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo {
    height: 2.5em;
    width: auto;
    padding: 0;
    margin-left: 1.5em;
}
#hamburgerIcon{
    display: block;
    color: white;
    position: absolute;
    right: 0.7em;
    font-size: 42px;
}

/*-------------------------------------------------
  -                      MENU                     -
  ------------------------------------------------- */

#menu {
    flex-direction: row;
    align-items: center;
    height: 5em;
    justify-content: space-evenly;
    display: none;
}
.icons{
    margin: 2em auto;
    max-height: 25px;
    max-width: 20px;
    display: block;
}
#menu i {
    width: 100%;
    font-size: 25px;
    color: white;
    display: block;
    margin: 1em auto;
}
.menuHover{
    background-color: inherit;
    width: 100%;
    cursor: pointer;
}
.menuHover:hover{
    background-color: #213d57;
}

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    float: left;
    width: 100%;
    height: auto;
    padding: 20px 0 6px;
    border-radius: 5px;
    text-align: center;
    display: none;

}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-8 .line {animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

/*------------------------------------------------------------
  -                      NOTELIST                            -
  ------------------------------------------------------------ */
#noteList {
    grid-area: noteList;
    background-color: #ebebeb;
    min-height: 5em;
    display: none;
}

#noteList div{
    height: 78px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#noteList div h4, #noteList div p {
    padding-left: 10px;
    color: black;
    padding-top:10px;
}

#noteList div h4{
    margin:0;
}

#noteList div p{
    margin:0;
    font-size: 14px;
    margin-top: 22px;
}

/* #noteList div:nth-of-type(even){
  background: #f2f2f2;
} */
#noteList div:hover {
  background: #f2f2f2;
}

/*------------------------------------------------------------
  -                     EDITOR                               -
  ------------------------------------------------------------ */
#editorContainer { grid-area: editorContainer;}
.ql-toolbar { grid-area: ql-toolbar;}
#editor { grid-area: editor;}


.flex {
    display: flex;
    justify-content: space-between;
}
#navOverview {
    background-color: rgb(79, 79, 233);
}
#editorContainer {
    height: 100vh;
}
#noteTitle {
    font-weight: bold;
}


#save{
    display: block;
}


/* Loading icon / William */


p {
    margin: 0;
    padding: 10px 0;
    color: #777;
}

.clear {clear:both;}


