body, nav, #navSec, #topNav, #searchField, #editorContainer {
    background-image:url("https://images.unsplash.com/photo-1533201357341-8d79b10dd0f0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28bf8cd814da8b4413f83a6d50cde55b&auto=format&fit=crop&w=1868&q=80");
}

body, nav, #navSec, #editorContainer {
    background-size:cover;
}

.menuIcon:hover, #clickNoteList div:hover {
    background: rgba(255, 255, 255, 0.3);
}

#noteList, .ql-toolbar.ql-snow {
    background: rgba(255, 255, 255, 0.6);
}

.ql-container * {
    font-family: 'Montserrat', sans-serif;
    color:White;
    font-size: 1.2em;
}

.ql-container H1, .ql-container H2 {
    font-weight: normal;
    text-align: center;
}
.ql-container H1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em !important;
}

.ql-container H2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2em !important;
}

.ql-editor {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}


@media only screen and (min-width: 764px) {
    .ql-editor {
     box-shadow: 0 0 0;
    }
    
}